<!DOCTYPE html>
<html lang="en">
  <head>
    {% if date_reviewed $}
      <title>VaryGeek | {{ title }}</title>
    {% else %}
      <title>{{ title }}</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="VaryGeek">
    <meta property="og:description" content="VaryGeek eats some games!">
    <meta
      property="og:image"
      content="https://pbs.twimg.com/profile_banners/1199950788078034944/1647433157/1500x500"
    >
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
        <h1>{{ title }}</h1>
        {% if date_reviewed $}
          <time><em>{{ date_reviewed }}</em></time>
        {% endif %}
    </header>
    <main>
        {{ content | safe }}
    </main>
  </body>
</html>
