* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 20px;
  font-size: 20px;
}

header {
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
}
